var newList = '<div class="user_list"><%= link_to "#" do %><b><%= @list.name %></b> <%= @list.description%><% end %></div>'

$(".user_lists .list").append(newList);
$(".new_list_form").addClass("invisible");
$(".add_list").removeClass("active_form");
$(".add_list").addClass("inactive_form");
$('input[name="list[description]"]').val("");
$('input[name="list[name]"]').val("");