<div class="sesion">
	<div class="login">
		<%= link_to "Iniciar Sesión", new_user_session_path, class:"logintext" %>
	</div>
	<div class="signup">
		<%= link_to "Regístrate", new_user_registration_path, class:"signuptext" %>
	</div>
</div>