<% if notice %>
	<div class="notice_shadow">
		<div class="notice">
			
			<div class="notice_msg">
			<%= notice %>
			<div class="close_notice icon remove"></div>
			</div>
			
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".close_notice").on("click", function(){
			$(".notice_shadow").addClass("invisible");
		})
	})
	</script>

<% end %>