<article>
	<div class="principalPanel">
	<div class="welcometext">¿Qué te interesa hoy?</div>
	
		<div class="flex-container">
			
			<div class="flex-item">
				<div class="demo-icon">&#xe804;</div> 
				<div class="subjectName"> Matemáticas</div>		
			
			</div>
			
			<div class="flex-item">
				
				<div class="demo-icon">&#xe803;</div> 
				
				<div class="subjectName"> Química</div>		
			
			</div>
			
			<div class="flex-item">
				<div class="demo-icon">&#xe802;</div> 
				<div class="subjectName"> Fisica</div>		
			
			</div>
			<div class="flex-item">
				
				<div class="demo-icon">&#xe801;</div> 
				<div class="subjectName">Biología</div>		
			
			</div>
			

		</div>
		<div class="showmore">
			Más	
		</div>
	</div>
	<div class="searchbox">
		<input class="searchinput" placeholder="Videos, apuntes, exámenes...">	
		<i class="icon search absolute"></i>
		
	</div>
</article>