<div class="user_favorites">
	<div class="colum_title">Favoritos</div>	
	<div class="list">
		<% current_user.favorites.limit(7).each do |favorite| %> 
			<% material = Material.find(favorite.material_id)%>
			<div class="material">
	          <%= render partial: "materials/material", locals: {material: material} %>
	            <div class="description">
	              <% material.authors.split(",").each do |author| %>
	                <%= author + ". "%>
	              <% end %>
	              <br>
	              <%= material.description %>
	            </div>
	          </div>
	        </div>
		<% end %>
	</div>
	<a href="#"> Mostrar todos... </a>
</div>