/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require tuktuk-icons
 *= require scaffolds
 *= require_self
 */
@font-face {
    font-family: 'iconos';
    src: url('/font/iconos.eot?7492551');
    src: url('/font/iconos.eot?7492551#iefix') format('embedded-opentype'),
         url('/font/iconos.woff?7492551') format('woff'),
         url('/font/iconos.ttf?7492551') format('truetype'),
         url('/font/iconos.svg?7492551#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
    height              : 100%;
    width               : 100%;
    background-color    : #F1F1F1;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}
/* Alerta y animacion*/
@keyframes timeOut {
    0%{

        width: 305px;
        height: 61px;
    }
    
    70%  {
        width: 5px;
        height: 61px;
    }
    90% {
        height: 0px;
        width: 5px;
        opacity: 1;
        }
    97%{
        height: 0px;
        opacity: 0;
        transform: scale(1)
    }
    99%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        height: 0px;
        opacity: 0;
        transform: scale(0)
    }
}
@keyframes shadow_timeOut {
    
    93% {
        bottom: 100px;
        opacity: 1;
        }
    99%{
        bottom: 350px;
        opacity: 0;
        transform: scale(1)
    }
    100%{
        transform: scale(0)
    }
}

.notice {
    width: 305px;
    height: 61px;
    position: absolute;

    background-color: #18A103;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 15px;

    animation-name: timeOut;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 

}
.notice_shadow{
    width: 300px;
    height: 56px;
    bottom: 100px;
    right: 50px;
    position: absolute;
    -webkit-box-shadow: 4px 2px 9px 1px rgba(143,143,143,1);
    -moz-box-shadow: 4px 2px 9px 1px rgba(143,143,143,1);
    box-shadow: 4px 2px 9px 1px rgba(143,143,143,1);    
    animation-name: shadow_timeOut;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
    z-index: 5; 
}
.notice_msg{
    width: 273px;
    background-color: white;
    height: 56px;
    margin-left: 5px;
    position: relative;
    padding-right: 18px;
    padding-left: 10px;
}
.close_notice {
    position: absolute;
    right: 5px;
    color: #AEACAC;
    top: 5px;
    cursor: pointer;
}
.close_notice:hover{
    color: #5F5F5F;
}
/***************************************************************************/

/* Rotacion infinita */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}
/****************************************************************************/



.header{
 	height 				: 48px;
    width 				: 100%;
    background-color 	: white;
 }
.logo{
    float 				: left;
    height 				: 100%;
    width 				: 19%;
    padding-left 		: 21px;
    color: black;
}
.asignaturas{
	height 				: 100%;
    width 				: 200px;
    display 			: inline-block;
    line-height 		: 48px;
    color 				: #555555;
    font-family 		: 'Courgette';
    font-size 			: 21px;
}
.sesion{
    padding-right 		: 22px;
    height 				: 100%; 
    float	 			: right;
    width 				: 271px;
    margin-top 			: 7px;
    margin-left         : 1%;

}
.login{
    background-color 	: #E9E9E9;
    display 			: inline-block;
    line-height 		: 32px;
    width 				: 136px;
    border-radius 		: 5px;
    
    font-weight 		: bold;
    text-align 			: center;
    font-size 			: 15px;

}
.login:hover{
    background-color: #D6D6D6;
}
a.logintext{
    color               : #696969;
    text-decoration     : none ;
}
a.logintext:visited{
    color               : #696969;
}
a.logintext:hover{
    color               : #696969;
    background-color    : transparent;
}
.signup{
    background-color    : #5DC75C;
    display 			: inline-block;
    line-height 		: 32px;
    width 				: 103px;
    border-radius 		: 5px;
    color 				: white;
    font-weight 		: bold;
    font-size 			: 15px;
    text-align 			: center;
}
.signup:hover{
    background-color    : #0AB900;
}
a.signuptext{
    color               : white;
    text-decoration     : none ;
}
a.signuptext:visited{
    color               : white;
}
a.signuptext:hover{
    color               : white;
    background-color    : transparent;
}
.welcometext{
	font-family         : 'Courgette', cursive;
    font-size           : 83px;
    width               : 100%;
    text-align          : center;
    line-height         : 83px;
    padding-top          : 90px;
}
.flex-container {
    margin-top          : 46px;
    width               : 66%;
    display             : flex;
    flex-direction      : row;
    flex-wrap           : wrap;
    justify-content     : flex-start;
    align-content       : stretch;
    align-items         : flex-start;
    margin-right        : auto;
    margin-left         : auto;
}
.flex-item {
	text-shadow         : 7px 3px 3px rgba(127, 127, 127, 0.3);
	background-color    : white;
    text-align          : center;
    height              : 224px;
    flex-grow           : 1;
    flex-shrink         : 0;
    flex-basis          : 179px;
    margin-right        : 10px;
    margin-left         : 10px;
    margin-top          : 25px;
    -webkit-transition  : border-radius 0.5s;

}
.iconos{
    font-family: "iconos";
}
.demo-icon{
	height              : 70%;
    font-size           : 115px;
    font-family         : "iconos";
    text-align          : center;
    text-transform      : none;
    line-height         : 1em;
    margin-top          : 18px;

}
.flex-item:hover{
    background-color    : rgba(0, 255, 0, 0.19);
    border-radius       : 12%;
    cursor              : pointer;
}
.subjectName{
	font-family         : 'courgette', cursive;
    width               : 100%;
    font-size           : 2em;
    height              : 27%;

}
.showmore{
    width               : 61%;
    color               : #6C6C6D;
    text-align          : center;
    border-top          : 2px solid #D2D0D0;
    margin-right        : auto;
    margin-left         : auto;
    margin-top          : 17px;
    padding-top         : 5px;
    font-family         : 'Courgette', cursive;
    -webkit-transition  : all 0.5s;
}
.showmore:hover{
    /* border-color: green; */
    color: black;
    border-radius: 13%;
    /* background-color: rgba(80, 255, 61, 0.08); */
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px -6px 7px rgba(0, 128, 0, 0.1);
}
.searchbox {
    margin-top          : 110px;
    margin-right        : auto;
    margin-left         : auto;
    width               : 57%;
    height              : 53px;
    position            : relative;
}
.searchbox form{
    width: 100%;
    height: 100%;
}
.searchinput{
    float               : right;
    height              : 78%;
    width               : 100%;
    margin-top          : 0px;
    text-indent         : 40px; 
}

input{
    border              : 1px solid gainsboro;
    font-size           : 1.2em;
    border-radius       : 50px;
    margin-top          : 4px; 
}
input:focus{
    box-shadow          : 0 0 5px 1px rgba(115,152,44,0.5);
    outline             : none;
}
.absolute{
    position            : absolute;
    left                : 15px;
    top                 : 11px;
    width               : 0px;
    font-size           : 1.4em;
    color               : #B9B9B9;
}
.panel{
    padding-right: 24px;
    float: right;
    height: 48px;
    line-height: 48px;
    font-size: 1.3em;
    font-family: 'Courgette', cursive;
}
.panelButton{
    font-size: 2em;
    display: inline-block;
    padding-left: 7px;
    min-width: 33px;
    float: right;
    padding-right: 7px;
    text-align: center;
    position: relative;
}
a.signout, a.signout:visited{
    color               : grey;
    text-decoration     : none;
}
.header_avatar{
    width: 28px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    vertical-align: sub;
}

a.signout:hover{
    background-color: transparent;
    color: rgba(255, 0, 0, 0.53);
}
.username{
    border-right: 1px solid rgba(128, 128, 128, 0.25);
    border-left: 1px solid rgba(128, 128, 128, 0.25);
}
.username a{
    color: black !important;  
    text-decoration: none !important;
    cursor: pointer;
}
.username a:hover{
    background-color: transparent;
    text-decoration: none !important;
}
.fav{
    color: grey;
}

.panelButton:hover, .active_menu{
    background-color: rgba(0, 0, 0, 0.08);
}
.active_menu{
    position: relative;
}
#footer{
    height: 48px;
    background-color: white;
    width: 100%;
    text-align: center;
    line-height: 48px;
}
.webpage{
    height: -webkit-calc(100% - 48px);
    height: -moz-calc(100% - 48px);
    overflow: auto;
    width: 100%;

}

.uploadMaterial {
    font-family: 'Courgette', cursive;
    background-color    : rgba(0, 100, 255, 0.87);
    color: white;
    height: 38px;
    line-height: 38px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 5px;
    display: inline-block;
}
.uploadMaterial:hover{
    background-color    : rgba(0, 150, 255, 1);


}
a.uploadMaterial:visited , a.uploadMaterial {
    color: white;
    text-decoration: none !important;
}    


a.classrooms, a.classrooms:visited {
    color: #823F02;
    text-decoration: none;
}
a.lists, a.lists:visited{
    color: rgba(241, 146, 21, 0.94);
    text-decoration: none;
}


/*********************************/
.invisible{
    display: none !important;
}
aside{
    float: left;
    background-color: white;
    width: 14%;
    height: 100%;
}
article{
    min-height: -webkit-calc(100% - 48px);
    min-height: -moz-calc(100% - 48px);
    overflow-y: auto;
    width: 100%;
}
.materials{
    height: 100%;
    overflow: auto;
}


.user_menu{
    position: absolute;
    right: 0px;
    top: 58px;
    color: black;
    background-color: white;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px -1px 16px 0px rgba(143,143,143,1);
    box-shadow: 0px -1px 16px 0px rgba(143,143,143,1);
    width: 183px;
    text-align: left;
    font-family: Roboto, sans-serif;
    padding-bottom: 12px;
    z-index: 4;
}
.user_menu ul li {
    font-family: Roboto, sans-serif;
        margin-top: 9px;
    padding-left: 21px;
    /* background-color: #878793; */
    line-height: 23px;
}
.user_menu ul li:hover {
    background-color: #167AC6;
    color: white;
    font-weight: 600;
}
ul a, ul a:visited,ul a:hover{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: inherit;
}
.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 6px;
    z-index: 2;
    top: -10px;
}

input[type="submit"] {
    border-radius: 7px;
    font-size: 2em;
    font-family: 'Courgette',cursive;
    background-color: rgba(5, 91, 202, 0.74);
    color: white;
    float: right;
    cursor: pointer;
    padding: 8px;
}
input[type="submit"]:hover{
    background-color: rgba(5, 91, 202, 0.84); 
}
.relative{
    position: relative;
}