iframe{
	width: 864px;
	height: 486px;
}
embed{
    min-width: 818px;
    width: 47%;
    height: 700px;
    margin-top: 2%;
    margin-left: 5%;
}
div{
	font-family: Roboto, arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
}
.head_info{
	font-weight: 400;
	background-color: white;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: 22px;
    position: relative;
    padding-left: 11px;
}
.material{
	margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 27px;
}
.info{
	display: inline-block;
    vertical-align: top;
    width: 44%;
    margin-left: 18px;
}
.name{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    white-space: nowrap;
    width: 96%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.description{
    margin-top: 16px;
    background-color: white;
    padding: 12px;
    max-height: 305px;
    position: relative;
}
.description text{
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    max-height: 255px;
    overflow: auto;
    display: block;
    margin-bottom: 18px;

}
.description .light{
    position: absolute;
    bottom: 12px;
}
.light{
	font-weight: 300;
    font-size: 13px;
}
hr{
	border-top: 0px solid black;
    border-bottom: 1px solid #D4D2D2;
}
.avatar{
    width: 55px;
    height: 55px;
    background-color: #A4D1FF;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}
.avatar img{
    width: 100%;
    height: 100%;
}
bold{
    font-weight: 500;
}
.user_info{
    margin-left: 8px;
    display: inline-block;
}
a:hover, a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.favs {
    position: absolute;
    bottom: 35px;
    right: 15px;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: right;
}
.favs .icon:hover, .active{
    color: #FFC500 !important;
    cursor: pointer;
}
.favs .icon{
    color: grey;
    float: left;
    margin-right: 7px;
    font-size: 100%;
}
/*
.description:before {
    content: "Descripción";
    font-weight: 500;
    font-size: 100%; 
}
*/

.comments {
    width: 840px;
    margin-left: 5%;
    padding: 12px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.comments_form textarea {
    width: 750px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 13px;
    height: initial;
    resize: vertical;
    border-radius: 0px;
}
.comments_form input[type="submit"] {
    border-radius: 0px;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #167ac6;
    margin-right: 10px;
}
.comment_avatar {
    width: 50px;
    vertical-align: top;
    margin-top: 10px;
}
.centered{
    text-align: center;
    font-size: 15px;
    color: rgb(112, 112, 112);
}   

.hr_after_form {
    width: 95%;
    margin-top: 50px;
}
.comment{
    width: 90%;
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
}
p{
    margin-bottom: 13px;
}

.comment username {
    color: #167ac6;
    cursor: pointer;
    font-weight: 500;
}
.comment username:hover{
    text-decoration: underline;
}
.comment .light {
    display: inline-block;
    color: grey;
}
p a, p a:visited{
    color: #167ac6;
    font-weight: 500;
}
p a:hover{
    text-decoration: underline;
}
p,a{
    font-family: Roboto, sans-serif;
}
.related {
    width: 580px;
    display: inline-block;
    background-color: white;
    padding: 19px;
    margin-left: 18px;
        font-size: 15px;
    font-weight: 500;
        margin-top: 10px;
}
.recomended_material {
    font-size: 12px;
    font-family: Roboto, sans-serif;
}


.thumbnail{
    display: inline-block;
    vertical-align: top;
    width: 158px;
    height: 86px;
  position: relative;

}
.youtubeThumbnail{
    width: 100%;
}
.related a ,.related a:hover ,.related a:visited {
    color: #167ac6;
    text-decoration: none;
}
.related a:hover{
    text-decoration: underline;
    background-color: transparent;
}
.block1{
    width: 405px;
    margin-left: 10px;
    display: inline-block;
    height: 110px;
}
.related_name{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
}


.duration{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
    bottom: 3px;
    right: 5px;
    line-height: 16px;
    font-size: 11px;
}
.author{
        font-weight: 200;
}
.right{
    float: right;
    font-size: inherit;
}
.pdf_info{
    margin-top: 2%;
}
.document{
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}
article{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.description.pdf{
    max-height: 429px;
}
.description.pdf text{
    max-height: 400px;


}
.pdf_element{
        margin-top: 10px;
    padding-top: 10px;
    background-color: white;
    position: relative;
}
.element_image{
        width: 80px;
}
.pdf_element div {
    display: inline-block;
    vertical-align: top;
}
.pdf_element_info{
        font-size: 14px;
    font-weight: 500;
}
.element_buttons{
        float: right;
    margin-right: 18px;
    margin-top: 19px;
}
.element_buttons a .icon, .element_buttons .icon{
    color: #979797;
    cursor: pointer;
}
.element_buttons a .icon:hover,.element_buttons .icon:hover{
    color: #167ac6;
}
i {
    color: #797676;
    font-size: 90%;
}
.elementThumbnail {
    height: 86px;
    float: right;
}
.buttons a{
    margin-left: 10px;
}
.buttons a div.icon.download-circle{
    line-height: 79px;
}

.hr{
    margin: 5px;
    width: 100%;
}
.file_element {
    padding: 10px;
    padding-bottom: 0px;
    width: 70%;
    display: inline-block;
    height: 122px;
}
.file_head_info{
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    height: 124px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-right: 12px;
}
.no_margin_left{
    margin-left: 0px;
}
comments .comments{
    width: 100%;
    margin-left: inherit;

}
comments .comments form textarea{
    width: 689px;
}
.related_container {
    width: 667px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 16px;
}
.file_and_comments{
        display: inline-block;
    width: 792px;
    padding-left: 5%;
}
.info.no_margin_left{
    width: 103%;
}
.add_list{
    text-align: left;
    line-height: 23px;
    font-size: 1.2em;
    color: #9E9E9E;
    font-weight: 500;
    height: 23px;
    cursor: pointer;
}
.add_list:hover {
    color: grey;
}
.new_list_form{
    position: absolute;
    bottom: 0px;
    left: -251px;
    width: 223px;
    background-color: white;
    padding: 9px;
    -webkit-box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
    -moz-box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
    box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
}
.new_list_form form input{
    font-size: 1em;
    display: block;
    width: 218px;
    padding-left: 5px;
}
.new_list_form form input[type="submit"]{
    padding: 2px;
    background-color: #4C9AD2;
    width: 50px;

}
.triangulo_der{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 7px solid transparent;
    z-index: 2;
    position: absolute;
    right: -10px;
    bottom: 6px;
}
.add_list.inactive_form:before{
    content: "+ Crear Lista";
}
.add_list.active_form:before{
    content: "Cancelar";
}
.add_to_list{
    position: absolute;
    font-size: 13px;
    width: 194px;
    background-color: #FFFFFF;
    right: 0;
    top: 117%;
    color: black;
    font-weight: 500;
    -webkit-box-shadow: 4px 0px 25px 2px rgba(143, 143, 143, 0.67);
    -moz-box-shadow: 4px 0px 25px 2px rgba(143, 143, 143, 0.67);
    box-shadow: 4px 0px 25px 2px rgba(143, 143, 143, 0.67);
    padding: 2px 10px;
    cursor: default;
}
.add_to_list div{
    display: block;
}
.all_lists li {
    margin-left: 18px;
    line-height: 19px;
    font-size: 15px;
        margin-top: 9px;
}
.all_lists li .icon{
    position: absolute;
    top: 2px;
    left: -19px;
    font-size: 14px;
}
.all_lists{
    margin-top: 10px;
    margin-bottom: 11px;
    padding-left: 5px;
    border: 1px solid #E4DEDE;
    padding-bottom: 5px;
    max-height: 200px;
    overflow: auto;
}
.menu_header{
    margin-top: 4px;
}