iframe{
	width: 864px;
	height: 486px;
}
div{
	font-family: Roboto, arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
}
.name{
	font-weight: 400;
	background-color: white;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 8px;
    font-size: 22px;
}
.material{
	margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 27px;
}
.info{
	display: inline-block;
    vertical-align: top;
    width: 44%;
    margin-left: 18px;
}
.description{
	font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 11px;
    background-color: white;
    padding-top: 28px;
}
.light{
	font-weight: 300;
    font-size: 14px;
}
hr{
	border-top: 0px solid black;
    border-bottom: 1px solid #D4D2D2;
}