.user_info{
	width: 241px;
    padding: 14px;
    background-color: white;
    display: inline-block;
    padding-bottom: 0px;
    vertical-align: top;
    position: relative;

}
.user_avatar{
	width: 54px;
    background-color: white;
    padding: 12px;
    border-radius: 72%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: inline-block;
}
.user_page{
	margin: auto;
	min-height: -webkit-calc(100% - 64px);
    min-height: -moz-calc(100% - 64px);
    width: 100%;
    padding-top: 16px;
}
.user_description{
    display: inline-block;
    vertical-align: top;
}
.user_name{
        font-family: Courgette, sans-serif;
    font-size: 1.5em;
    margin-bottom: 4px
}
 
.light {
    color: grey;
    font-style: italic;
}   
.thumbnail{
    width: 124px !important;
    height: 70px !important;
}
.elementThumbnail{
    height: 70px !important;
}
.block1{
    width: 242px !important;
}
.user_favorites , .user_lists{
    margin-bottom: 10px;
    background-color: white;
    position: relative;

}
.colum{
    vertical-align: top;
    width: 400px;
    display: inline-block;
    text-align: right;
}
.material{
    text-align: left;
}
.colum_title{
        height: 45px;
    background-color: #4C9AD2;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 1.5em;
    font-weight: 300;
}
.edit_user{
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: #737373;
    font-size: 16px;
}
.edit_user:hover{
    color: #9E9D9D;
}
.list{
    max-height: 345px;
    overflow: auto;
    width: 100%;
    text-align: left;
}
.add_list{
    text-align: left;
    line-height: 23px;
    font-size: 1.2em;
    color: #9E9E9E;
    font-weight: 500;
    height: 23px;
    cursor: pointer;
    padding-left: 10px;
}
.add_list:hover {
    color: grey;
}
.new_list_form{
    position: absolute;
    bottom: 0px;
    left: -251px;
    width: 223px;
    background-color: white;
    padding: 9px;
    -webkit-box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
    -moz-box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
    box-shadow: 1px 1px 13px 1px rgba(143, 143, 143, 0.67);
}
.new_list_form form input{
    font-size: 1em;
    display: block;
    width: 218px;
    padding-left: 5px;
}
.new_list_form form input[type="submit"]{
    padding: 2px;
    background-color: #4C9AD2;
    width: 50px;

}
.triangulo_der{
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 7px solid transparent;
    z-index: 2;
    position: absolute;
    right: -10px;
    bottom: 6px;
}
.add_list.inactive_form:before{
    content: "+ Crear Lista";
}
.add_list.active_form:before{
    content: "Cancelar";
}

.user_list a, .user_list a:visited{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 23px;
    display: block;
}
.user_list a b{
    font-weight: 600;
    color: black;
}
.user_list a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #ABABAB;
    -moz-text-decoration-color: #ABABAB; /* Code for Firefox */
    text-decoration-color: #ABABAB;
}
.user_materials{
    display: inline-block;
    width: -webkit-calc(100% - 679px);
    width: -moz-calc(100% - 679px);
    background-color: white;    
}
.user_material{
    display: inline-block;
}
.user_material .block1{
    width: 95px !important;
}
.related_name{
    max-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}