.user_info{
	    width: 336px;
    padding: 24px;
    background-color: white;
}
.user_avatar{
	    width: 145px;
    background-color: white;
    padding: 12px;
    border-radius: 72%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: block;
    margin: auto;
}
.user_page{
	display: inline-block;
	margin: 	auto;
	    min-height: -webkit-calc(100% - 96px);
}