<div class="related">
	Material relacionado <br><hr>
    <% if Material.where(tags: Regexp.new(@material.tags, true)).ne(id: @material.id).count == 0 %>
        <br>
        No hay material similar
        <br>
    <% end %>
	<% Material.where(tags: Regexp.new(@material.tags, true)).ne(id: @material.id).each do |material| %>
	<div class="recomended_material">
		<%= render partial: "material", locals: {material: material} %>
			 <div class="author">
	            <% material.authors.split(",").each do |author| %>
	              <%= author %>
	            <% end %>
	        </div>
	    </div>
	</div>
	        
	<% end %>
</div>