<article>
<div class="centered">
	<p class="estandarFont topSeparation">A tener en cuenta:</p> 
	<br>
	<ul class="estandarFont">
		<li>
			· <important>Clasifica</important> bien el contenido, así se encuentra mas facil
		</li>
		<br>
		<li>
			· Los <important>derechos de autor</important> son muy importantes, apunta los autores y, si tiene copyright, <attention>no lo publiques </attention>.
		</li>
		<br>
		<li>
		· Lo bueno del contenido multimedia es que <important>si el material tiene un error </important> se puede editar y corregirlo. Especialmente en los videos, si se comete un error en él, aunque se indique dentro del vido,<important> no lo publiques.</important>
		</li>
	</ul>
</div>
<%= render 'form' %>

<%= link_to 'Back', materials_path %>
</article>

