<article>
<div class="centered">
	<p class="estandarFont topSeparation">A tener en cuenta:</p> 
	<br>
	<ul class="estandarFont">
		<li>
			· <important>Clasifica</important> bien el contenido, así se encuentra más fácil
		</li>
		<br>
		<li>
			· Los <important>derechos de autor</important> son muy importantes. Indica los autores y, si tiene copyright, <attention>no lo publiques </attention>.
		</li>
		<br>
		<li>
		· Lo bueno del contenido multimedia es que <important>si el material tiene un error </important> se puede editar y ser corregido. Especialmente en los vídeos, si apareciera un error, aunque se advierta dentro del vídeo,<attention> no lo publiques.</attention>
		</li>
	</ul>
</div>
<div class="icon upload-circle showless"></div>
<%= render 'form' %>

</article>

